%h1= @content_type.title
%ul
  - @content_type.all.each do |entity|
    %li
      - entity.attributes.each do |label, value|
        %label= label.humanize
        %span.value
          &= value
%a{:href => '/admin/' + @content_type.title.downcase + '/new'} 
  Create new 
  = @content_type.title.singularize.downcase